body {
  margin: 0;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 30px;
  font-weight: 600;
  height: 100vh;
  background-image: url(b.jpeg);
  background-size: cover;
}
button {
  border: none;
  color: white;
  border-radius: 20px;
  font-size: 30px;
  font-weight: 600;
  max-width: 300px;
}

#yellow {
  background-color: #ffd859;
  text-align: center;
  height: 80px;
  width: 250px;
}

#red {
  background-color: #ff5a5f;
  text-align: center;
  height: 80px;
  width: 250px;
}

#expensive-computatiuon {
  background-color: #08168c44;
}
